<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.fullness.ec.backend.infrastructure.mapper.CustomerMapper">

    <select id="selectAll" resultType="CustomerEntity">
        SELECT id, name, address1, address2, phone_number,
               mail_address, username, password, created_at
          FROM customer
         ORDER BY id
    </select>

    <select id="selectById" resultType="CustomerEntity" parameterType="int">
        SELECT id, name, address1, address2, phone_number,
               mail_address, username, password, created_at
          FROM customer
         WHERE id = #{id}
    </select>

</mapper>