<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.fullness.ec.backend.infrastructure.mapper.ProductStockMapper">

    <insert id="insert" parameterType="ProductStockEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product_stock (quantity, product_id)
        VALUES (#{quantity}, #{productId})
    </insert>

    <select id="selectByProductId" resultType="ProductStockEntity">
        SELECT id, quantity, product_id
        FROM product_stock
        WHERE product_id = #{productId}
    </select>

    <update id="updateByProductId" parameterType="ProductStockEntity">
        UPDATE product_stock
        SET quantity = #{quantity}
        WHERE product_id = #{productId}
    </update>

</mapper>